body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.image-background {
    background-image: url('Model-X.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex: 3;
}

nav img {
    width: 100px; 

}

nav ul {
    display: flex;
    list-style: none;
  }
  
nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}